*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    margin:0;
    padding:0;
    font-family: arial;
}
label{
    padding: 10px 20px;
    font-style: bold;
}
input{
    padding: 10px 10px;
    font-size: 1em;
    text-align: center;
    align-self: flex-end;
    border: none;
    outline: none;
    border-bottom: solid 1px black;
}

#root{
    min-height: 100vh;
    display: grid;
    align-content: center;
}

/*Login Window*/
.login{
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.login-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.login-button{
    margin: 1px;
}

/*Auction controls*/
.window{
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    background: linear-gradient(180deg,rgb(253, 253, 253),rgb(250,250,250));
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    display: grid;
    grid-gap: 10px;
}
.controls{
    display: grid;
    grid-gap: 5px;
}


.form-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.bid-options{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.bid-button:nth-child(1){
    background-color: rgb(100, 150, 100);
}
.bid-button:nth-child(2){
    background-color: rgb(200, 200, 50);
}
.bid-button:nth-child(3){
    background-color: rgb(255, 100, 100);
}
/*Viewing area of the auction item and bids*/
#bid-window,
#auction-window{
    height: 350px;
    overflow-y: auto;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    background: rgb(240,240,240);
    align-content: flex-start;
}

#auction-window{
    justify-content: center;
    align-content: center;

}
.bid{
    height: 100px;
    width: 200px;
    display: grid;
    align-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}
/*For the auction window status area*/
.auction-bid-status{
    height: 100px;
    width: 250px;
    display: grid;
    align-content: center;
    padding: 10px;
    background-color: rgb(250,250,250);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}
button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
}
button:hover{
    background-color: #9a9ccf;
}

button:focus{
    background-color: #c957d8;
}